<div class="Navbar">
    <div class="NavbarContent">
        <button class="drawerbutton" (click)="togglevisibility()">
            <div class="drawerdiv"></div>
            <div class="drawerdiv"></div>
            <div class="drawerdiv"></div>
        </button>
        <button class="SiteLogo" (click)="navigateHome()">GET YOUR START</button>
        
        <p class="UserWelcome"*ngIf="user" >Welcome back, {{user.username}}!</p>
    </div>
    <div class="Separator"></div>
</div>

<div class="NavDrawer" *ngIf="navDrawerVisibility">
    <div class="Background" (click)="togglevisibility()"></div>
    <div class="Drawer slide-in">
        <a class="NavLink" routerLink="/login" *ngIf="user === null">
            <button class="DrawerItem">LOGIN</button>
        </a>

        <a class="NavLink" routerLink="/signup" *ngIf="user === null">
            <button class="DrawerItem">SIGNUP</button>
        </a>

        <button class="DrawerItem NavLink" *ngIf="user" (click)="logout()">Logout</button>

        <a class="NavLink" routerLink="/view_jobs">
            <button class="DrawerItem" >JOBS</button>
        </a>

        <a class="NavLink" routerLink="/savedjobs" *ngIf="user">
            <button class="DrawerItem" >SAVED JOBS</button>
        </a>
    </div>
</div>