<div class="ViewJobs">
    <button class="DrawerButton" (click)="toggleDrawerVisibiity()">Search Drawer</button>
    <div [class]="'JobMenu '.concat(DrawerVisibility === true ? 'slide-in' : 'slide-out')">
        <div class="JobMenuContainer">
            <p>Jobs: </p>
            <input class="whatinput" type="text" (input)="alterType($event)"/>
            <a *ngIf="jobValidator === false" class="validator">You must enter a job</a>
            <p>Country: </p>
            <select value="us" class="countryinput" (change)="alterCountry($event)">
                <option value="us">us</option>
                <option value="gb">gb</option>
                <option value="at">at</option>
                <option value="au">au</option>
                <option value="be">be</option>
                <option value="br">br</option>
                <option value="ca">ca</option>
                <option value="ch">ch</option>
                <option value="de">de</option>
                <option value="es">es</option>
                <option value="fr">fr</option>
                <option value="in">in</option>
                <option value="it">it</option>
                <option value="mx">mx</option>
                <option value="nl">nl</option>
                <option value="nz">nz</option>
                <option value="pl">pl</option>
                <option value="sg">sg</option>
                <option value="za">za</option>
            </select>
            <p>Where: </p>
            <input class="whereinput" type="text" (input)="alterWhere($event)"/>
            <p>Distance: </p>
            <input class="distanceinput" type="text" (input)="alterDistance($event)"/>
            <a *ngIf="distanceValidator === false" class="validator">The distance should be entered in as only a number, check for whitespaces.</a>
            <p>Sort By: </p>
            <select class="sortbyinput" (change)="alterSortBy($event)">
                <option value="default">default</option>
                <option value="date">date</option>
                <option value="salary">salary</option>
                <option value="relevance">relevance</option>
            </select>
            <p>Salary Minimum: </p>
            <input class="salarymininput" type="text" (input)="alterSalaryMin($event)"/>
            <p>Salary Maximum: </p>
            <input class="salarymaxinput" type="text" (input)="alterSalaryMax($event)"/>
            <a *ngIf="salaryValidator === false" class="validator">The salary should be entered in as only a number, check for whitespaces.</a>
            <p>Full-Time: </p> 
            <select class="fulltimeinput" (change)="alterFullTime($event)">
                <option value="true">true</option>
                <option value="false">false</option>
            </select>
            <p>Part-Time: </p>
            <select class="parttimeinput" (change)="alterPartTime($event)">
                <option value="true">true</option>
                <option value="false">false</option>
            </select>
            <p>Contract: </p>
            <select class="contractinput" (change)="alterContract($event)">
                <option value="true">true</option>
                <option value="false">false</option>
            </select>
            <p>Permanent: </p>
            <select class="permanentinput" (change)="alterPermanent($event)">
                <option value="true">true</option>
                <option value="false">false</option>
            </select>
            <a *ngIf="jobTypeValidator === false" class="validator">At least one employment type must be selected. Only one employment type may be selected at a time.</a>
            <button class="SubmitButton" (click)="submit()">Submit</button>
            
            
        </div>
    </div>

    <div class="NoJobs" *ngIf="jobsQueried === false && loading === false">
        <p>There are no jobs to show!</p>
    </div>

    <div class="Jobs">
        <div *ngFor="let job of jobs; let i = index">
            <button class="JobButton" [id]="i" (click)="setSelectedJob(i)">
                <div class="JobContainer">
                    <div class="APIIconContainer">
                        <img *ngIf="job.sourceApi === 'jsearch'" src="/Rapid-API.png" />
                        <img *ngIf="job.sourceApi === 'adzuna'" src="/Adzuna.png" />
                    </div>
                    <div class="JobInfoContainer">
                        <p>{{job.title || ""}}</p>
                        <p>{{job.postedDate || "No Date Available"}}</p>
                        <p>{{job.employerName || ""}}</p>
                        <p>{{job.location || ""}}</p>
                    </div>
                </div>
            </button>
        </div>
    </div>

    <!--
            private Long id;
            private String sourceApi;
            private String title;
            private String description;
            private String applyLink;
            private String employerName;
            private String employerLogo;
            private String location;
            private Boolean remote;
            private String postedDate;
            private Double salaryMin;
            private Double salaryMax;
            private String salaryCurrency;
            private String salaryPeriod;
            private String jobType;
            private String benefits;
            private String requirements;
            private String qualifications;
    -->

    <div class="ViewTheJob" *ngIf="viewingJob === true && loading === false">
        <div class="background" (click)="toggleJobView()"></div>
        <div class="JobViewContainer">
            <div class="JobViewInnerContainer">
                <h1 >{{chosenJob.title || ""}}</h1>
                <h2 >{{chosenJob.employerName || ""}}</h2>
                <p >{{chosenJob.postedDate|| ""}}</p>
                <p >{{chosenJob.description || ""}}</p>
                <p >Salary Min: {{chosenJob.salaryMin || ""}}</p>
                <p >Salary Max: {{chosenJob.salaryMax || ""}}</p>
                <a [href]="chosenJob.applyLink" target="_blank" >Apply Here</a>
                <button  *ngIf="user!== null" (click)="saveJobHandler()">Save Job</button>
            </div>
        </div>
    </div>

    <div class="LoadingScreen" *ngIf="loading === true">
        <div class="SaplingImage">
            <img src="/Sapling.png"/>
        </div>
    </div>

   <div [class]="saveConfirmation ? 'SaveEnter' : 'SaveExit'" 
        [style.opacity]="saveJobRevealed ? '1' : '0'"
        [style.border-color]="saveJobStatus ? 'green' : 'red'"
        [style.background-color]="saveJobStatus ? 'limegreen' : 'lightcoral'" 
        >
        <div class="saveConfirmationContainer">
            <p>{{saveJobStatus ? 'Job Saved Successfully' : 'Failed To Save Job'}}</p>
        </div>
   </div> 
   <div class="PeaksAndValleysCont">
        <img src="/PeaksAndValleys.png" />
   </div>
</div>

