.JobMenu {
    position: fixed;
    top: 70px;
    left: 0;
    width: fit-content;
    height: 100vh;
    background-color: black;
    z-index : 300;
    overflow-y: scroll;
    scrollbar-color: white black;
}

@keyframes slide-in {
    0% {
        transform: translateX(-500px);
    } 100% {
        transform: translateX(0px);
    }
}

@keyframes slide-out {
        0% {
        transform: translateX(0px);
    } 100% {
        transform: translateX(-500px);
    }
}

.slide-in {
    animation: slide-in 1.0s ease-in-out forwards;
}

.slide-out {
    animation: slide-out 1.0s ease-in-out forwards;
}

.JobMenuContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    width : 170px;
}

@media (max-width : 1439px) {
    .JobMenuContainer {
        margin-bottom: 100px;
    }
}

.JobMenuContainer p {
    color : white;
    font-size: 20px;
    font-weight: bold;
}


.ViewJobs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    margin-top: 75px;
}

.JobContainer {
    position: relative;
    border-color: green;
    background-color: white;
    border-width: 5px;
    border-style: solid;
    box-shadow: 12px 12px 12px 12px rgb(0, 0, 0, 0.5);
    z-index: 100;
}

@media (max-width : 1439px) {
    .JobContainer {
        width : 250px;
        height : 250px;
    }
}

@media (min-width : 1440px) {
    .JobContainer {
        width : 450px;
        height : 450px;
    }
}

.JobInfoContainer {
    width : 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width : 1439px) {
    .JobInfoContainer {
        font-size: 10px;
    }
}

@media (min-width : 1440px) {
    .JobInfoContainer {
        font-size: 20px;
    }
}

.JobInfoContainer p {
    width : 70%;
}

.JobInfoContainer:hover {
    background-color: rgb(3, 173, 3);
}

.APIIconContainer {
    position: absolute;
    top : 20px;
    left : 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width : 1439px) {
    .APIIconContainer {
        width: 25px;
        height: 25px;
    }
}

@media (min-width : 1440px) {
    .APIIconContainer {
        width: 50px;
        height: 50px;
    }
}

.APIIconContainer img {
    width: 100%;
    height : 100%;
    object-fit: contain;
}

.background {
    position: absolute;
    background-color: rgb(0, 0, 0, 0.5);
    width : 100%;
    height : 100%;
    z-index: 100;
}

.ViewTheJob {
    position: fixed;
    width : 100vw;
    height: 100vh;
    z-index : 350;
    top: 0;
    left : 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.JobViewContainer {
    position: absolute;
    width : 50%;
    height: 65%;
    border-radius: 50px;
    background-color: white;
    z-index : 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 50px 50px 50px 50px;
    
}

.JobViewInnerContainer {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.JobViewInnerContainer button {
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
    border-color: transparent;
    border-style: solid;
    font-size: 25px;
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0, 0.5);

}

.JobViewContainer p {
    font-size: 20px;
}

.JobButton {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 50px;
}



.JobViewInnerContainer button:hover {
    background-color: rgb(150, 150, 150, 1);
}

.LoadingScreen {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.SaplingImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SaplingImage img {
    object-fit: contain;
    width : 100%;
    height: 100%;
    animation: fade-in-and-out 2.0s infinite;
}

@media (max-width : 1439px) {
    .SaplingImage {
        width : 200px;
        height: 200px;
    }
}

@media (min-width : 1440px) {
    .SaplingImage {
        width : 500px;
        height: 500px;
    }
}

.NoJobs {
    margin-top: 25px;
    font-weight: bold;
    font-size: 25px;
}

@media (max-width : 1439px) {
    .Jobs {
        margin-top: 40px;
    }
}


@keyframes fade-in-and-out {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 20%
    } 
    100% {
        opacity: 100%
    }
}

.SaveEnter, .SaveExit {
    position: fixed;
    width: 200px;
    height: 100px;
    bottom : 0%;
    right : 0%;
    z-index: 200;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
}

.DrawerButton, .SubmitButton {
    margin-top: 25px;
    border-color: green;
    background-color: green;
    color: white;
    border-style: solid;
}

.DrawerButton {
    top : 50px;
    right : 10px;
    position: fixed;
}

@media (max-width : 1439px) {
    .DrawerButton, .SubmitButton {
        padding: 5px 10px 5px 10px;
        border-radius: 10px;
        font-size: 15px;
        box-shadow: 8px 8px 8px 8px rgb(0, 0, 0, 0.5);
    }
}

@media (min-width : 1440px) {
    .DrawerButton, .SubmitButton {
        padding: 10px 20px 10px 20px;
        font-size: 25px;
        box-shadow: 8px 8px 8px 8px rgb(0, 0, 0, 0.5);
        border-radius: 15px;
    }
}

.DrawerButton:hover, .SubmitButton:hover {
    background-color: rgb(1, 207, 1);
}

@keyframes slide-up {
    0% {
        transform: translateY(150px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(150px);
    }
}

.SaveEnter {
    animation: slide-up 1.2s; 
}

.SaveExit {
    animation: slide-down 1.2s forwards; 
}

.validator {
    max-width: 270px;
    color: red;
    margin: 0px 0px 0px 0px;
}

.PeaksAndValleysCont {
    position: fixed;
    z-index: 0;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.PeaksAndValleysCont img {
    width: 100%;
    object-fit: contain;
}