<div class="ViewJobs">
    <div class="NoJobs" *ngIf="jobs.length === 0 && loading === false">
        <p>There are no jobs to show!</p>
    </div>

    <div *ngFor="let job of jobs; let i = index">
        <button class="JobButton" [id]="i" (click)="setSelectedJob(i)">
            <div class="JobContainer">
                <div class="APIIconContainer">
                    <img *ngIf="job.sourceApi === 'rapidApi'" src="/Rapid-API.png" />
                    <img *ngIf="job.sourceApi === 'adzuna'" src="/Adzuna.png" />
                </div>
                <div class="JobInfoContainer">
                    <p>{{job.title || ""}}</p>
                    <p>{{job.postedDate || "No Date Available"}}</p>
                    <p>{{job.employerName || ""}}</p>
                    <p>{{job.location || ""}}</p>
                </div>
            </div>
        </button>
    </div>

    <!--
            private Long id;
            private String sourceApi;
            private String title;
            private String description;
            private String applyLink;
            private String employerName;
            private String employerLogo;
            private String location;
            private Boolean remote;
            private String postedDate;
            private Double salaryMin;
            private Double salaryMax;
            private String salaryCurrency;
            private String salaryPeriod;
            private String jobType;
            private String benefits;
            private String requirements;
            private String qualifications;
    -->

    <div class="ViewTheJob" *ngIf="viewingJob === true && loading === false">
        <div class="background" (click)="toggleJobView()"></div>
        <div class="JobViewContainer">
            <div class="JobViewInnerContainer">
                <h1 >{{chosenJob.title || ""}}</h1>
                <h2 >{{chosenJob.employerName || ""}}</h2>
                <p >{{chosenJob.postedDate|| ""}}</p>
                <p >{{chosenJob.description || ""}}</p>
                <p >Salary Min: {{chosenJob.salaryMin || ""}}</p>
                <p >Salary Max: {{chosenJob.job.salaryMax || ""}}</p>
                <a [href]="chosenJob.apply_link" target="_blank" >Apply Here</a>
                <button  *ngIf="user!== null" (click)="deleteJobHandler()">Save Job</button>
            </div>
        </div>
    </div>

    <div class="LoadingScreen" *ngIf="loading === true">
        <div class="SaplingImage">
            <img src="/Sapling.png"/>
        </div>
    </div>

   <div class="PeaksAndValleysCont">
        <img src="/PeaksAndValleys.png" />
   </div>
</div>

