<div class="ViewJobs">
    <div class="NoJobs" *ngIf="adzunaJobs.length === 0 && loading === false">
        <p>There are no jobs to show!</p>
    </div>

    <div class="Jobs" *ngIf="adzunaJobs.length > 0 && loading === false || jsearchJobs.length > 0 && loading === false">
        <div *ngFor="let job of adzunaJobs; let i = index">
            <button class="JobButton" [id]="i" (click)="setAdzunaJob(i)">
                <div class="JobContainer">
                    <div class="APIIconContainer">
                        <img src="/Adzuna.png" />
                    </div>
                    <div class="JobInfoContainer">
                        <p>{{job.title}}</p>
                        <p>{{job.created}}</p>
                        <p>{{job.company}}</p>
                        <p>{{job.location}}</p>
                    </div>
                </div>
            </button>
        </div>

        <div *ngFor="let job of jsearchJobs; let i = index">
            <button class="JobButton" [id]="i" (click)="setJsearchJob(i)">
                <div class="JobContainer">
                    <div class="APIIconContainer">
                        <img src="/Rapid-API.png" />
                    </div>
                    <div class="JobInfoContainer">
                        <p>{{job.job_title || ""}}</p>
                        <p>{{job.job_posted_human_readable || ""}}</p>
                        <p>{{job.employer_name || ""}}</p>
                        <p>{{job.job_location || ""}}</p>
                    </div>
                </div>
            </button>
        </div>

        
    </div>

    <div class="ViewTheJob" *ngIf="viewingJob === true && loading === false">
        <div class="background" (click)="toggleJobView()"></div>
        <div class="JobViewContainer">
            <div class="JobViewInnerContainer">
                <h1 *ngIf="chosenJob.API === 'Adzuna'">{{chosenJob.job.title || ""}}</h1>
                <h1 *ngIf="chosenJob.API === 'JSearch'">{{chosenJob.job.job_title || ""}}</h1>
                <h2 *ngIf="chosenJob.API === 'Adzuna'">{{chosenJob.job.company || ""}}</h2>
                <h2 *ngIf="chosenJob.API === 'JSearch'">{{chosenJob.job.job_publisher || ""}}</h2>
                <p *ngIf="chosenJob.API === 'Adzuna'">{{chosenJob.job.created || ""}}</p>
                <p *ngIf="chosenJob.API === 'JSearch'">{{chosenJob.job.job_posted_human_readable || ""}}</p>
                <p *ngIf="chosenJob.API === 'Adzuna'">{{chosenJob.job.description || ""}}</p>
                <p *ngIf="chosenJob.API === 'JSearch'">{{chosenJob.job.job_description || ""}}</p>
                <p *ngIf="chosenJob.API === 'Adzuna'">Salary Min: {{chosenJob.job.salary_min || ""}}</p>
                <p *ngIf="chosenJob.API === 'JSearch'">Salary Min: {{chosenJob.job.job_min_salary || ""}}</p>
                <p *ngIf="chosenJob.API === 'Adzuna'">Salary Max: {{chosenJob.job.salary_max || ""}}</p>
                <p *ngIf="chosenJob.API === 'JSearch'">Salary Max: {{chosenJob.job.job_max_salary || ""}}</p>
                <a [href]="chosenJob.job.redirect_url" *ngIf="chosenJob.API === 'Adzuna'">Apply Here</a>
                <a [href]="chosenJob.job.job_apply_link" *ngIf="chosenJob.API === 'JSearch'">Apply Here</a>
            </div>
        </div>
    </div>

    <div class="LoadingScreen" *ngIf="loading === true">
        <div class="SaplingImage">
            <img src="/Sapling.png"/>
        </div>
    </div>
</div>